<div class="main-content">
    <div class="title">
        <h3>Quản lý loại sản phẩm</h3>
    </div>
    <form class="row" action="" method="post">
        <input type="number" name="productcategoryid" id="productcategoryid" ng-model="productcategoryid" style="display: none;">

        <div class="col c-12 m-6 l-6 form-input">
            <input [(ngModel)]="datas.MaLoai"  type="text" hidden>
        
                <label for="MoTa">Tên Loại</label>
                <input [(ngModel)]="datas.TenLoai" type="text" name="TenLoai" id="tenloai"
                    placeholder="Nhập thông tin loại sản phẩm" class="form-control">     
        </div>
        <div class="col c-12 m-6 l-6 form-input">
                <label for="MoTa">Mô Tả</label>
                <input [(ngModel)]="datas.MoTa" type="text" name="MoTa"
                    placeholder="Nhập thông tin loại sản phẩm" class="form-control">     
        </div>
        

        
        <div class="col c-12 m-12 l-12 form-button">
            <button (click)="addData()" type="button" class="btn-edit">{{btn}}</button>
            <button type="button" class="btn-refresh">Làm mới</button>
        </div>
    </form>


    <hr style="color: rgba(0,0,0,0.01);margin: 10px 0;">
    <div class="box-search">
        <form action="">
            <span>Tìm kiếm: </span><input [(ngModel)]="searchTerm" placeholder="Tìm kiếm..." (input)="filterData($event)" type="text" placeholder="Nhập thông tin tìm kiếm">
        </form>
    </div>

    <div class="box-table">
        <table>
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên loại
                    </th>
                    <th>
                        Mô tả
                    </th>

                    <th>
                        Chức năng
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data | paginate: {itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{ item.TenLoai }}
                    </td>
                    <td>
                        {{item.MoTa}}
                    </td>

                    <td>

                        <!-- The Modal -->
                        <i class="fa-solid fa-pen-to-square" (click)="edit(item.MaLoai)"></i>
                       
                        <i class="fa-solid fa-trash" (click)="deleteData(item.MaLoai)"></i>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="pagination">
        <ul>
            <li>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </li>
            
        </ul>
    </div>
</div>
<script>
    document.addEventListener('click', function (event) {
      var showSetting = document.querySelector('.showmodel');
      // Check if the clicked element has the specified ID
      if (event.target.id === showSetting.getAttribute('data-target').substring(1)) {
        // If the clicked element has the correct ID, set display to none for showSettingImg
        if (showSetting) {
          showSetting.style.display = 'block';
        }
      }
    });

    $(document).ready(function () {
      $('.box-user').click(function () {
        $('.info-user').toggleClass("hidden");
      })

      $("#iconclose").click(function () {
        $('.showmodel').hide();
      })

      $('.box-manage-menu').click(function (e) {
        e.preventDefault();
        $('.menu-item__list').toggle();
      })

    }
    )
  </script>